extends layout

block content
  h1 #{title}
  form(method= 'POST', action='/details/edit/'+details._id)
    
    #form-group
      label Name
      input.form-control(name='name', type='text', value=details.name)
    
        
    #form-group
      label Owner
      input.form-control(name='owner', type='text', value=details.owner)
        
    #form-group
      label Body 
      textarea.form-control(name='body')= details.body
    br
    input.btn.btn-primary(type='Submit', value='submit')
