extends layout

block content
  h1 #{title}
  form(method= 'POST', action='/details/add')
    
    #form-group
      label Name
      input.form-control(name='name', type='text')
    
    #form-group
      label Owner
      input.form-control(name='owner', type='text')
        
    #form-group
      label Body 
      textarea.form-control(name='body', type='text')
    br  
    input.btn.btn-primary(type='Submit', value='submit')
